@import url('https://fonts.googleapis.com/css?family=Inria+Sans&display=swap');

:root {
    --primary-color: #2d2254;
    --secondary-color: #f5c42f;
    --text-color: #c5bbec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inria Sans', sans-serif;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}

h1,
h2,
h3,
p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    border: 0;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 20px;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(0.98);
}